<p id="notice"><%= notice %></p>

<h1>User Airlines</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_airlines.each do |user_airline| %>
      <tr>
        <td><%= link_to 'Show', user_airline %></td>
        <td><%= link_to 'Edit', edit_user_airline_path(user_airline) %></td>
        <td><%= link_to 'Destroy', user_airline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Airline', new_user_airline_path %>
